<section class="health">
	<div class="health__inner">
		<div class="health__container container">
			<div class="health__info">
				<h2 class="health__title">TAKE CONTROL OF YOUR HEALTH</h2>
				<p class="health__text">
					The Good4Me range has been formulated based on scientific &
					traditional evidence.
				</p>
				<p class="health__text">
					Our vitamins are here and ready to boost your mood, immunity and
					overall well-being!
				</p>
				<p class="health__text">
					Made in New Zealand from local and imported ingredients.
				</p>
				<button class="health__btn btn-reset">browse our range</button>
			</div>
			<div class="health__images">
				<div class="health__col">
					<img src="./assets/img/h1.jpg" alt="some alt" class="health__img" />
					<img src="./assets/img/h2.jpg" alt="some alt" class="health__img" />
				</div>
				<div class="health__col">
					<img src="./assets/img/h3.jpg" alt="some alt" class="health__img" />
				</div>
			</div>
		</div>
	</div>
</section>
