<section class="deals">
	<div class="deals__info">
		<h2 class="deals__title">GOOD4ME DEAL</h2>
		<p class="deals__subtitle">
			Pick your beauty products today. 50% OFF on the most popular GOOD4ME.
			Order all classy products today!
		</p>
	</div>
	<div class="deals__container container">
		<article class="product-card product-card-1">
			<div class="product-card__img-wrapper">
				<img
					src="./assets/img/multi-vitamin.png"
					alt="multi-vitamin everyday wellness"
					class="product-card__img"
				/>
			</div>
			<h2 class="product-card__title">multi-vitamin: everyday wellness</h2>
		</article>
		<article class="product-card">
			<div class="product-card__img-wrapper">
				<img
					src="./assets/img/full-range.png"
					alt="multi-vitamin everyday wellness"
					class="product-card__img"
				/>
			</div>
			<h2 class="product-card__title">multi-vitamin: everyday wellness</h2>
		</article>
		<article class="product-card product-card-3">
			<div class="product-card__img-wrapper">
				<img
					src="./assets/img/vitamin-c.png"
					alt="multi-vitamin everyday wellness"
					class="product-card__img"
				/>
			</div>
			<h2 class="product-card__title">multi-vitamin: everyday wellness</h2>
		</article>
		<article class="product-card">
			<div class="product-card__img-wrapper">
				<img
					src="./assets/img/iron.png"
					alt="multi-vitamin everyday wellness"
					class="product-card__img"
				/>
			</div>
			<h2 class="product-card__title">multi-vitamin: everyday wellness</h2>
		</article>
	</div>
</section>
