<section class="review">
	<div class="review__inner">
		<div class="review__container container">
			<div class="swiper review__carousel">
				<div class="swiper-wrapper">
					<!-- 1 -->
					<div class="swiper-slide">
						<div class="review__item">
							<div class="review__info">
								<div class="review__top-text">real reviews</div>
								<div class="review__title">real results</div>
								<div class="review__rating">
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="star" class="star-icon"></div>
								</div>
								<p class="review__text">
									“We have perfected our formulas over time, based on your
									feedback. Check out hundreds of reviews on our website.We
									can't wait until you are a part of our Good4Me Family.”
								</p>
								<div class="review__author">_Chloe H.</div>
								<div class="review__btns">
									<button class="review__prev review__btn btn-reset">
										<svg
											class="review__icon"
											width="12"
											height="20"
											viewBox="0 0 12 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.097 2.72208L9.15273 0.777832L0.90273 9.02783C0.365105 9.56545 0.365105 10.4345 0.90273 10.9721L9.15273 19.2221L11.097 17.2778L3.8191 9.99995L11.097 2.72208Z"
											/>
										</svg>
									</button>
									<button class="review__next review__btn btn-reset">
										<svg
											class="review__icon"
											width="12"
											height="20"
											viewBox="0 0 12 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M0.903019 2.72208L2.84727 0.777832L11.0973 9.02783C11.6349 9.56545 11.6349 10.4345 11.0973 10.9721L2.84727 19.2221L0.903019 17.2778L8.1809 9.99995L0.903019 2.72208Z"
											/>
										</svg>
									</button>
								</div>
							</div>
							<img
								width="534"
								height="539"
								src="./assets/img/review.jpg"
								alt="some alt"
								class="review__img"
							/>
						</div>
					</div>
					<!-- 2 -->
					<div class="swiper-slide">
						<div class="review__item">
							<div class="review__info">
								<div class="review__top-text">real reviews</div>
								<div class="review__title">real results</div>
								<div class="review__rating">
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="star" class="star-icon"></div>
								</div>
								<p class="review__text">
									“We have perfected our formulas over time, based on your
									feedback. Check out hundreds of reviews on our website.We
									can't wait until you are a part of our Good4Me Family.”
								</p>
								<div class="review__author">_Chloe H.</div>
								<div class="review__btns">
									<button class="review__prev review__btn btn-reset">
										<svg
											class="review__icon"
											width="12"
											height="20"
											viewBox="0 0 12 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.097 2.72208L9.15273 0.777832L0.90273 9.02783C0.365105 9.56545 0.365105 10.4345 0.90273 10.9721L9.15273 19.2221L11.097 17.2778L3.8191 9.99995L11.097 2.72208Z"
											/>
										</svg>
									</button>
									<button class="review__next review__btn btn-reset">
										<svg
											class="review__icon"
											width="12"
											height="20"
											viewBox="0 0 12 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M0.903019 2.72208L2.84727 0.777832L11.0973 9.02783C11.6349 9.56545 11.6349 10.4345 11.0973 10.9721L2.84727 19.2221L0.903019 17.2778L8.1809 9.99995L0.903019 2.72208Z"
											/>
										</svg>
									</button>
								</div>
							</div>
							<img
								width="534"
								height="539"
								src="./assets/img/review.jpg"
								alt="some alt"
								class="review__img"
							/>
						</div>
					</div>
					<!-- 3 -->
					<div class="swiper-slide">
						<div class="review__item">
							<div class="review__info">
								<div class="review__top-text">real reviews</div>
								<div class="review__title">real results</div>
								<div class="review__rating">
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="filled-star" class="star-icon"></div>
									<div data-icon="star" class="star-icon"></div>
								</div>
								<p class="review__text">
									“We have perfected our formulas over time, based on your
									feedback. Check out hundreds of reviews on our website.We
									can't wait until you are a part of our Good4Me Family.”
								</p>
								<div class="review__author">_Chloe H.</div>
								<div class="review__btns">
									<button class="review__prev review__btn btn-reset">
										<svg
											class="review__icon"
											width="12"
											height="20"
											viewBox="0 0 12 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.097 2.72208L9.15273 0.777832L0.90273 9.02783C0.365105 9.56545 0.365105 10.4345 0.90273 10.9721L9.15273 19.2221L11.097 17.2778L3.8191 9.99995L11.097 2.72208Z"
											/>
										</svg>
									</button>
									<button class="review__next review__btn btn-reset">
										<svg
											class="review__icon"
											width="12"
											height="20"
											viewBox="0 0 12 20"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M0.903019 2.72208L2.84727 0.777832L11.0973 9.02783C11.6349 9.56545 11.6349 10.4345 11.0973 10.9721L2.84727 19.2221L0.903019 17.2778L8.1809 9.99995L0.903019 2.72208Z"
											/>
										</svg>
									</button>
								</div>
							</div>
							<img
								width="534"
								height="539"
								src="./assets/img/review.jpg"
								alt="some alt"
								class="review__img"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
