<section class="products">
	<div class="products__container container">
		<h2 class="products__title">out products are</h2>
		<div class="products__cards">
			<article class="product-card">
				<div class="product-card__img-wrapper">
					<img
						src="./assets/img/p1.jpg"
						alt="multi-vitamin everyday wellness"
						class="product-card__img"
					/>
				</div>
				<h2 class="product-card__title">Multi-vitamin (3 month supply)</h2>
				<div class="product-card__prices">
					<span class="product-card__price">$39.95 NZD</span>
					<span class="product-card__old-price">$199.75 NZD</span>
				</div>
			</article>
			<article class="product-card products__card">
				<div class="product-card__img-wrapper">
					<img
						src="./assets/img/p2.png"
						alt="multi-vitamin everyday wellness"
						class="product-card__img"
					/>
				</div>
				<h2 class="product-card__title">Multi-vitamin (3 month supply)</h2>
				<div class="product-card__prices">
					<span class="product-card__price">$39.95 NZD</span>
					<span class="product-card__old-price">$199.75 NZD</span>
				</div>
			</article>
			<article class="product-card product-card-1">
				<div class="product-card__img-wrapper">
					<img
						src="./assets/img/multi-vitamin.png"
						alt="multi-vitamin everyday wellness"
						class="product-card__img"
					/>
				</div>
				<h2 class="product-card__title">Multi-vitamin (3 month supply)</h2>
				<div class="product-card__prices">
					<span class="product-card__price">$39.95 NZD</span>
					<span class="product-card__old-price">$199.75 NZD</span>
				</div>
			</article>
			<article class="product-card">
				<div class="product-card__img-wrapper">
					<img
						src="./assets/img/p4.jpg"
						alt="multi-vitamin everyday wellness"
						class="product-card__img"
					/>
				</div>
				<h2 class="product-card__title">Multi-vitamin (3 month supply)</h2>
				<div class="product-card__prices">
					<span class="product-card__price">$39.95 NZD</span>
					<span class="product-card__old-price">$199.75 NZD</span>
				</div>
			</article>
		</div>
		<button class="products__btn btn-secondary btn-reset">
			view all products
		</button>
	</div>
</section>
