<section class="shipping">
	<h2 class="visually-hidden">
		Smooth Sailing: Shipping Solutions for Seamless Deliveries
	</h2>
	<div class="shipping__container">
		<div class="shipping-card">
			<div class="shipping-card__icon-wrapper">
				<svg class="shipping-card__icon">
					<use href="./assets/img/svg/sprite.svg#airplane"></use>
				</svg>
			</div>
			<h2 class="shipping-card__title">WORLDWIDE SHIPPING</h2>
			<p class="shipping-card__text">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
			</p>
		</div>
		<div class="shipping-card">
			<div class="shipping-card__icon-wrapper">
				<svg class="shipping-card__icon">
					<use href="./assets/img/svg/sprite.svg#money"></use>
				</svg>
			</div>
			<h2 class="shipping-card__title">30 DAYS GUARANTEE</h2>
			<p class="shipping-card__text">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
			</p>
		</div>
		<div class="shipping-card">
			<div class="shipping-card__icon-wrapper">
				<svg class="shipping-card__icon">
					<use href="./assets/img/svg/sprite.svg#secure"></use>
				</svg>
			</div>
			<h2 class="shipping-card__title">SECURED PAYMENTS</h2>
			<p class="shipping-card__text">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
			</p>
		</div>
	</div>
</section>
